@charset "utf-8";
/*CSS document */
*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: "Outfit";
    src: url("fonts/Outfit-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: medium;
}

body {
    font-family: "Outfit"; 
    cursor: url(img/cursor.png), auto;
}

/*-------------------SECCION HEADER--------------------*/

#cabecera {
    padding: 20px;
    text-align: center;
    background-color: rgb(105, 78, 78);
    color: white;
}
nav {
    background-color: rgb(193, 163, 163);
    padding: 40px;
    text-align: center;
}
nav ul li {
    list-style: none;
    display: inline;
    padding: 10px 30px;
    border: 1px solid #420516;
    border-radius: 3em;
    background-color: white;
    filter: drop-shadow(2px 3px 3px rgb(88, 87, 87));
}

@keyframes mover-izquierda-derecha{
   from{
    transform: translateX(-100px);
   }
   to{
    transform: translateX(50px);
   } 
}
h2 {
    font-size: 80px;
    color: rgb(94, 65, 65);
    display: flex;
    justify-content: center;
    animation: mover-izquierda-derecha 2s 1;
    animation-fill-mode: forwards;
}
#cabecera img {
    animation: girar 3s infinite linear;
}

@keyframes girar {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}
@keyframes mover-izquierda-centro{
    from{
     transform: translateX(-100px);
    }
    to{
     transform: translateX(10px);
    } 
 }
/*-------------------SOBRE MI--------------------*/
h3 {
    font-style:  bold;
    font-size: 60px;
    color: #420516;
    animation: mover-izquierda-centro 2s 1;
    animation-fill-mode: forwards;
}
h4 {
    font-size: 25px;
    color: #420516;
}
.imgcv{
    border-radius: 30px;
}
.sobremi{
    background-color: #FFFDFD;
    display: flex;
    padding: 70px
}
.container{
    background-color: rgb(193, 163, 163);
    padding: 50px;
}
.row{
    display: flex;
    justify-content: space-evenly;
    padding: 90px 50px;
    background-color: rgb(251, 244, 244);
    color: rgb(74, 74, 74);
    font-size: 15px;
    border-radius: 3em;
    filter: drop-shadow(2px 3px 3px rgb(229, 219, 219))
}
.textosobremi {
    padding: 70px;
}
/*-------------------PRESENTACION--------------------*/
.presentacion{
    background-image: url(img/fondopresentacion.png);
    background-size: 100% auto;
    padding: 210px;
    background-repeat: no-repeat;
    filter: drop-shadow(3px 4px 4px grey);
}
.textopresentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6a6a6a;
}
.trabajemosjuntos{
    padding: 20px;
}
.textotrabajemos{
    font-size: 25px;
    font-style: italic;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-------------------TRABAJOS--------------------*/
.descripcionproyecto{
    background-color: #FFFDFD;
    padding: 50px 90px;
}
.textoproyecto {
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #826f6f;
}
.edit {
    background-color: white;
    filter: drop-shadow(3px 4px 4px grey);
    padding: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px
}
.infog {
    background-color: #7f6666;
    color: rgb(222, 222, 222);
    filter: drop-shadow(3px 4px 4px grey);
    padding: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 150px
}
.titulo_info{
    color: white;
}
.latte {
    background-color: white;
    padding: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px
}
.imgproyectos{
    border-radius: 30px;
}
.imgproyectos:hover{
    border: 5px solid #987070;
    transform: scale(1.1);
}
.texto_proyecto{
    padding: 30px;
}
/*-------------------GALERIA--------------------*/
.igybehance {
    background-color: #420516;
    border-radius: 30px 0px 0px 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 50%;
    right: 0px;
}
.descripciongaleria{
    font-style:  italic;
    font-size: 20px;
    color: #9b999a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 90px;
}
.containergaleria{
    columns: 3;
    width: 90%;
    margin: 4px auto;
    padding: 20px;
}
.containergaleria .caja{
    margin-bottom: 20px;
}
.containergaleria .caja img{
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px #9b999a;
}
.containergaleria .caja img:hover{
    transform: scale(1.1);
    transition: 2s;
}
/*-------------------CONTACTO--------------------*/
h5{
    padding: 10px 50px;
    font-size: 50px;
    color: #420516;
}
.titulo_formulario{
    padding: 10px 50px;
    font-size: 50px;
    color: #420516;
}
.formulario{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fdf8f8;
    filter: drop-shadow(0px 4px 8px 0px #9b999a);
    padding: 120px 100px 100px;
}
label{
    font-size: 15px;
    color: rgb(98, 98, 98);
    padding: 10px;
}

input[type=submit]{
    margin-top: 30px;
    background-color: rgb(156, 138, 138);
    color: white;
    text-transform: uppercase; 
}
input {
    background-color: white;
    border-radius: 20px;
    border: 3px solid #420516;
    filter: drop-shadow(3px 4px 4px grey);
    padding: 15px 95px;
}
form{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
a {
    text-decoration: none;
    color: rgb(104, 109, 118);
}
a:hover {
    color: rgb(100, 56, 67);
    font-size: 20px;
}
/****************************MEDIA QUERIES / 600px **************************/
@media screen and (max-width: 600px) {
    body{
        font-size: 0.75em;
    }
    #cabecera{
        padding: 10px;
    }

    /*SOBRE MI ---------*/

    .sobremi{
        padding: 50px;
        flex-direction: column;
        align-items: center;
    }
    .nav{
        height: 100px;
    }
    nav ul li {
        margin: 15px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgcv{
        width: 100%;
        max-width: 400px;
    }
    h3{
        font-size: 40px;
    }
    h4{
        font-size: 17px;
    }
    h5{
        font-size: 25px;
    }
    .row{
        padding: 30px;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 20px;
        font-size: 10px;
    }

    /*TRABAJOS ---------*/

    .edit{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .infog{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .latte{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .imgproyectos{
        width: 450px;
        height: 334px;
    }
}
/*-----------------------------------------FOOTER-------------------------------------*/
.iconos{
    display: flex;
    gap: 30px;
}
footer{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: smaller;
    color: white;
    padding: 20px;
    background-color: rgb(105, 78, 78);
    align-items: center;
}