@charset "utf-8";
/*CSS document */
*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: "Outfit";
    src: url("fonts/Outfit-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: medium;
}
#cabecera {
    padding: 20px;
    text-align: center;
    background-color: rgb(152, 112, 112);
    color: white;
}
nav {
    background-color: rgb(195, 152, 152);
    padding: 40px;
    text-align: center;
}
nav ul li {
    list-style: none;
    display: inline;
    padding: 10px 30px;
    border: 1px solid #420516;
    border-radius: 3em;
    background-color: white;
}

body {
    font-family: "Outfit"; 
    background-color: rgb(246, 245, 242);
}
.presentacion {
    background-color: rgb(243, 231, 231);
    padding: 0px;
    margin-left: 0px;
}
.info{
    background-color: white;
    padding: 20px;
    text-align: center;
}
.masinfo{
    background-color: rgb(195, 152, 152);
    color: rgb(255, 255, 255);
}
h2 {
    font-family: "Outfit";
    font-weight: 400px;
    font-style: bold;
    text-transform: uppercase;
}
h3 {
    font-style: italic;
    font-weight: 500;
}
h4 {
    font-style: medium;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.trabajos{
    background-color: rgb(255, 249, 249);
}

h5 {
    font-style: bold;
    text-transform: uppercase;
    color: #420516;
}

a {
    text-decoration: none;
}
a:link {
    color: rgb(104, 109, 118);
}
a:hover {
    color: rgb(100, 56, 67);
    font-size: 2em;
}
footer {
    font-size: smaller;
    color: white;
    padding: 10px;
    text-align: center;
    background-color: rgb(152, 112, 112);
}

