@charset "utf-8";
/*CSS document */
*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: "Outfit";
    src: url("fonts/Outfit-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: medium;
}
#cabecera {
    padding: 20px;
    text-align: center;
    background-color: rgb(152, 112, 112);
    color: white;
}
nav {
    background-color: rgb(195, 152, 152);
    padding: 40px;
    text-align: center;
}
nav ul li {
    list-style: none;
    display: inline;
    padding: 10px 30px;
    border: 1px solid #420516;
    border-radius: 3em;
    background-color: white;
}

body {
    font-family: "Outfit"; 
    background-color: rgb(246, 245, 242);
}
.img{
    border-radius: 30px;
}
h2 {
    font-family: "Outfit";
    font-size: 80px;
    font-style: light;
    color: rgb(94, 65, 65);
}
.presentacion {
    background-color: rgb(254, 245, 245);
    color: rgb(74, 74, 74);
    display: flex;
    padding: 70px;
    margin-left: 0px;
    font-size: 20px;
}
.textopresentacion{
    display: flex;
    flex-direction: column;
    padding: 70px;
    align-items: baseline;
    text-wrap: pretty;
}

.info{
    background-color: white;
    padding: 20px;
    text-align: center;
}
.textosobremi{
    font-size: 20px;
    padding: 100px;
}
.container{
    background-color: rgb(195, 152, 152);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 100px 70px;
}

h3 {
    font-style:  italic;
    font-size: 70px;
}
h4 {
    font-style: medium;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 30px;
    align-self: center;
}
.h5{
    padding: 70px;
    font-size: 40px;
    color: #420516;
    font-style: bold;
}
.trabajoscont {
    background-color: rgb(254, 245, 245);
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.tpbox{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 100px 70px;
}
.titulos{
    font-size: 30px;
    font-style: bold;
}
.tp{
    border-radius: 30px;
}


h5 {
    font-style: bold;
    font-size: 50px;
    text-transform: uppercase;
    color: #420516;
}

a {
    text-decoration: none;
}
a:link {
    color: rgb(104, 109, 118);
}
a:hover {
    color: rgb(100, 56, 67);
    font-size: 2em;
}
footer {
    font-size: smaller;
    color: white;
    padding: 10px;
    text-align: center;
    background-color: rgb(195, 152, 152);
}

